<div class="d-flex  align-items-center flex-column justify-content-center p-2" >
  <div class="form-group">
    <label for="">Digite o nome</label>
    <input class="form-control"  [(ngModel)]="nome" type="text" />
  </div>
  <div class="form-group">
    <label for="">Digite o Email</label>
    <input class="form-control" [(ngModel)]="email" type="text" />
  </div>
  <div class="form-group">
    <label for="">Digite o Telefone</label>
    <input class="form-control"  [(ngModel)]="telefone" type="text" />
    <button class="btn btn-success" (click)="add()">Salvar</button>
  </div>  
  
</div>

